*settings.py
*.dm_68
*.mp4
*.mp4-log.txt
*.pyc

games.log
q3history

streamable_cookies.json

*/baseq3/*.pk3
*/defrag/checksums/*.crc
*/defrag/ghosts/*

odfe/defrag/video.cfg
odfe/pk3cache.dat
odfe/defrag/q3config.cfg
